body{
    font-size: 14px;
    background: #aaaaaa6b!important;
}
navbar a{
    position: relative;
    overflow: hidden;
    color:#fff!important;
}
navbar a:hover, nav a{
    text-decoration: none!important;
    color: #ffc107!important;
}
nav , nav a{
    background-color: #e5101d;
    color:#fff!important;
}
.dropdown a, .dropdown-menu a{
    background-color: #fff!important;
    color: #e5101d!important;
}
.my-btn {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    color: #ffc107;
    border-color: #ffc107;
    margin:auto;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.my-btn span{
    padding: 4px;
    margin: 3px;
    background-color: #ffc107;
    color: #000;
}
.my-btn span:hover{
    color: #000;
}
button:hover{
    background:none!important;
    color:#ffc107dc!important;
}

.dropdown-menu a:hover {
    color: #e5101ed5!important;
    background: #aaa!important;
}
.NavDropdownItem{
    display: block;
    width: 100%;
    padding: .25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}
