.empty-cart{
    text-align: center;
    background-color: #fff;
    border-radius: 4px;
}
.empty-cart span{
    display: inline-block;
    width: 190px;
    height: 160px;
    margin: 30px;
}
.empty-cart p{
    padding: 20px;
}